<h1>Live Challenge</h1>
<p>
  Create live short answer or code questions for your lectures to promote
  excitement, engagement, discussion, and questions from your students.
</p>

<% if current_user %>
  <div class="row">
    <div class="columns small-12 medium-6">
      <%= link_to 'Create a Question', new_question_path, class: 'button large' %>
    </div>
    <div class="columns small-12 medium-6">
      <%= link_to 'View All Questions', questions_path, class: 'button large' %>
    </div>
  </div>
<% else %>
  <hr>
  <h4>
    Please sign in or create an account to start making questions.
  </h4>
  <%= link_to 'Sign In', new_user_session_path, class: 'button' %>
  <%= link_to 'Sign Up', new_user_registration_path, class: 'button' %>

<% end %>
